body {
    background-color: #909090;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 24px;
}

h1 {
    color: #680000;
}

img {
    width: 200px;
    height: 220px;
}

footer > p:after {

    content: ' Vasilis Chaniotis'
}

main > p {
    font-style: italic;
}

main > h2 {
    color: #500000;
}

main > div > h3 {
    color: #330000;
}