body {
    font-family: "Verdana", Times, sans-serif;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 20%;
    float: left;
}

text {
    width: 80%;
    float: right;
}

#subtitle {
    font-size: 16px;
}

navigation {
    width: 33%;
    float: left;
}

content {
    width: 66%;
    float: right;
}

