body {
    font-family: "Verdana", Times, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#subtitle {

}

navigation {
    width: 33%;
    float: left;
}

content {
    width: 66%;
    float: right;
}