html, body {
    font-family: "Verdana", Times, sans-serif;
    width: 100%;
}

header {
    position: fixed;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    height: 100px;
    float: left;
}

section {
    position: absolute;
    right: 50px;
    background-color: red;
}

#subtitle {
    font-size: 20px;
}

navigation {
    width: 20%;
    float: left;
    font-size: 14px;
    background-color: lightblue;
}

content {
    width: 65%;
    float: right;
    font-size: 12px;
    background-color: lightgreen;
}

