#wrap {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Verdana", Times, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 130px;
    height: 100px;
}

#section {
    width: 430px;
    position: absolute;
    margin-left: 135px;
    margin-top: -115px;
}

#subtitle {
    font-size: 20px;
    position: absolute;
    margin-top: -20px;
}

#navigation {
    width: 20%;
    font-size: 14px;
}

#mainbody {
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}

content {
    width: 50%;
    font-size: 12px;
    position: absolute;
    margin-left: 150px;
    margin-top: -185px;
}

#boxname {
    width: 200px;
    position: absolute;
    margin-left: 30px;
}

#boxsummary {
    width: 200px;
    position: absolute;
    margin-left: 8px;
}

#boxcategory {
    width: 200px;
    position: absolute;
    margin-left: 10px;
}

#summary {
    position: absolute;
    margin-top: 10px;
}

#category {
    position: absolute;
    margin-top: 85px;
}

#button {
    position: absolute;
    margin-left: 233px;
    margin-top: 115px;
}

a {
    text-decoration: none;
}

footer {
    font-size: 12px;
    position: absolute;
    margin-left: 5px;
    margin-top: 55px;
}

